/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  h1 {
    font-size: 66px;
    padding: 40px;
  }

  h2 {
    font-size: 60px;
    padding: 10px;
  }

  h4 {
    font-size: 48px;
    padding: 10px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  h1 {
    font-size: 66px;
    padding: 40px;
  }

  h2 {
    font-size: 60px;
    padding: 10px;
  }

  h4 {
    font-size: 48px;
    padding: 10px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  h1 {
    font-size: 66px;
    padding: 40px;
  }

  h2 {
    font-size: 60px;
    padding: 10px;
  }

  h4 {
    font-size: 48px;
    padding: 10px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  h1 {
    font-size: 36px;
    padding: 0px;
  }

  h2 {
    font-size: 30px;
    padding: 0px;
  }

  h4 {
    font-size: 18px;
    padding: 0px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  h1 {
    font-size: 36px;
    padding: 0px;
  }

  h2 {
    font-size: 30px;
    padding: 0px;
  }

  h4 {
    font-size: 18px;
    padding: 0px;
  }
}

a:visited {
  text-decoration: none;
  color: #999;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

section {
  padding: 0.25em;
  background-color: white;
  transition: background-color 2s linear;
}

section a:link {
  color: #999;
  text-decoration: none;
  transition: color 1s;
}

section:hover {
  -webkit-animation: hardly-random 10s infinite;
  animation: hardly-random 10s infinite;
  animation-delay: 2s;
  background-color: #03A9F4;
  text-decoration: none;
  transition: background-color 2s linear;
}

section:hover a {
  color: #fff;
  transition: color 2s;
}

h1 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h4 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

#bottom-bar {
  bottom: 0px;
  left: 0px;
  position: fixed;
  right: 0px;
  text-align: center;
}

@keyframes hardly-random {
  20% { background-color: #00BCD4; }
  30% { background-color: #4CAF50; }
  40% { background-color: #8BC34A; }
  50% { background-color: #CDDC39; }
  60% { background-color: #FFEB3B; }
  70% { background-color: #FFC107; }
  80% { background-color: #FF9800; }
  90% { background-color: #9E9E9E; }
  100% { background-color: #03A9F4; }
}
