.box {
    height: 100px;
}

.box_small {
    height: 50px;
    width: 50px;
}

.centered {
    text-align: center;
}

.door {
    
}

.first {
    background-color: aliceblue
}

.second {
    background-color: saddlebrown
}

.third {
    background-color: tan
}

.fourth {
    background-color: firebrick
}

.fifth {
    background-color: floralwhite
}

.sixth {
    background-color: sienna
}

.seventh {
    background-color: seagreen
}

.eighth {
    background-color: azure
}

.ninth {
    background-color: navajowhite
}

.tenth {
    background-color: teal
}

.eleventh {
    background-color: yellow
}

.twelvth {
    background-color: orange
}
