<!doctype html>
<html>
	<head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="/public/css/style.css" type="text/css">
		<title>Manil Chowdhury | A page for every letter of the English alphabet</title>
	</head>
	<body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-4">
                    <h1>Hi</h1>
                    <p>I'm starting this collection of sushi-bite-sized</p><h4>projects</h4><p>to practice and discover the possibilities of</p><h4>HTML and CSS</h4>
                </div>
                <div class="col-xs-6 col-sm-4 text-center">
                    <h2>The latest page</h2>
                    <h3><a href="/index.html">Every project needs a Homepage</a></h3>
                </div>
                <div class="col-xs-6 col-sm-4 text-right">
                    <h2>List of pages</h2>
                    <p>Start <a href="/index.html">Every project needs a Homepage</a></p>
                    <p>Letter A of 26 <a href="/atomic/index.html">Atomic age</a></p>
                </div>
            </div>
            <div class="row">
              <div class="col-md-1 box first"></div>
              <div class="col-md-1 box second"></div>
              <div class="col-md-1 box third"></div>
              <div class="col-md-1 box fourth"></div>
              <div class="col-md-1 box fifth"></div>
              <div class="col-md-1 box sixth"></div>
              <div class="col-md-1 box seventh"></div>
              <div class="col-md-1 box eighth"></div>
              <div class="col-md-1 box ninth"></div>
              <div class="col-md-1 box tenth"></div>
              <div class="col-md-1 box eleventh"></div>
              <div class="col-md-1 box twelvth"></div>
            </div>
        </div>
    </body>
</html>